.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2; /* criada uma classe para controlar a expansão do elemento por duas colunas  */
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background-color: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* para que o elemento considere os valores de padding corretamente */
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  /* "focus" estiliza o box ao clicar sobre ele */
  outline: none;
  border-color: var(--cor-p1);
  background-color: var(--cor-0);
  box-shadow: 0px 0px 0px 2px #fea;
}

/* ---------------------- MEDIA QUERY 600px ---------------------- */

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .col-2 {
    grid-column: 1;
  }
}
