.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-0); /* "inset" faz sombra interna */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box; /* para não somar o "padding" ao "max-width", respeitando o valor de "max-width" somente */
  padding: 0px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

/* ---------------------- MEDIA QUERY 800px ---------------------- */

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0px -60px;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
